<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Введите имя и элекропочту</title>
</head>
<body>
<form action="/reg" method="post">
    <label for="name">Введите ваше имя:</label><br>
    <input type="text" id="name" name="name" required>
    <br><br>
    <label for="email">Введите ваш e-mail:</label><br>
    <input type="email" id="email" name="email" required>
    <br><br>
    <input type="submit" value="Отправить">
</form>
</body>
</html>